<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{dashboard_fragments/head :: head}"></div>
<title>
    Manage Users
</title>
<body class="g-sidenav-show bg-gray-100">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2 bg-white my-2"
       id="sidenav-main">
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <div th:replace="~{admin/fragments/navbar :: navbar}"></div>
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Users</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Author
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Function
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Employed
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Actions
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users.content}" th:if="${user.role != 'ADMIN'}">
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-2.jpg"
                                                     class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm" th:text="${user.username}">John Michael</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0" th:text="${user.email}">Manager</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold"
                                              th:text="${user.role}"></span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary" type="button"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                Actions
                                                <i class="material-symbols-rounded">more_vert</i>
                                            </button>


                                            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                                <li>
                                                    <a class="dropdown-item"
                                                       th:href="@{/admin/edit-user/{userId}(userId=${user.id})}">Edit</a>
                                                </li>
                                                <li>
                                                    <form th:action="@{/admin/delete-user/{userId}(userId=${user.id})}" method="post">
                                                        <button type="submit" class="dropdown-item">Delete</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:replace="~{admin/fragments/pagination :: pagination}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{dashboard_fragments/footer :: footer}"></div>
</main>
<!-- Core JS Files -->
<div th:replace="~{dashboard_fragments/scripts :: scripts}"></div>
</body>
</html>