<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{dashboard_fragments/head :: head}"></div>
<body class="g-sidenav-show  bg-gray-100">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2  bg-white my-2"
       id="sidenav-main">
    <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div th:replace="~{admin/fragments/navbar :: navbar}"></div>
    <div th:replace="~{dashboard_fragments/footer :: footer}"></div>
</main>
<div th:replace="~{dashboard_fragments/scripts :: scripts}"></div>
</body>
</html>