<section class="about_us padding_top" th:fragment="aboutus">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="about_us_img">
                    <img src="/landing/img/top_service.png" alt="Healthcare Services Overview">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <h2>About Us</h2>
                    <p>We're dedicated to delivering exceptional patient care through innovative medical practices and compassionate service. Our team of experienced healthcare professionals combines cutting-edge technology with personalized attention to provide comprehensive medical solutions for our community.</p>
                    <a class="btn_2" href="#">Schedule Your Appointment</a>
                    <div class="banner_item">
                        <div class="single_item">
                            <img src="/landing/img/icon/emergency.svg" alt="Emergency Services">
                            <h5>24/7 Emergency Care</h5>
                        </div>
                        <div class="single_item">
                            <img src="/landing/img/icon/appointment.svg" alt="Online Booking">
                            <h5>Easy Online Scheduling</h5>
                        </div>
                        <div class="single_item">
                            <img src="/landing/img/icon/stethoscope.svg" alt="Expert Care">
                            <h5>Certified Medical Professionals</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>