<section class="banner_part" th:fragment="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-xl-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>We are here for your care</h5>
                        <h1>Best Care & Better Doctor</h1>
                        <p>At our healthcare facility, we're committed to providing exceptional medical care with compassion and expertise. Our dedicated team of specialists works together to deliver personalized treatment plans that address your unique needs. From routine check-ups to specialized care, we're dedicated to helping you achieve optimal health and wellness.</p>
                        <a href="/auth/login" class="btn_2">Make an appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner_img">
                    <img src="/landing/img/banner_img.png" alt="Healthcare Professionals at Work">
                </div>
            </div>
        </div>
    </div>
</section>