<section class="doctor_part section_padding" th:fragment="doctors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_title text-center">
                    <h2>Experienced Doctors</h2>
                    <p>Our team of dedicated healthcare professionals combines expertise with compassionate care to provide comprehensive medical solutions for our patients.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/landing/img/doctor/doctor_1.png" alt="Dr. Sarah Thompson - Cardiologist">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/dr.sarahthompson" target="_blank"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="https://twitter.com/drsthompson" target="_blank"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="https://www.instagram.com/dr.sarahthompson" target="_blank"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="skype:dr.sarahthompson" target="_blank"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Dr. Sarah Thompson</h3>
                            <p>Chief Cardiologist</p>
                            <p>Specializing in cardiovascular medicine and heart surgery. Board-certified with over 15 years of experience in treating complex cardiac conditions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/landing/img/doctor/doctor_4.png" alt="Dr. Michael Chen - Oncologist">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/dr.michaelchen" target="_blank"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="https://twitter.com/dr.mchen" target="_blank"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="https://www.instagram.com/dr.michaelchen" target="_blank"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="skype:dr.michaelchen" target="_blank"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Dr. Michael Chen</h3>
                            <p>Lead Oncologist</p>
                            <p>Expert in cancer treatment and research. Specializes in personalized cancer treatment plans using advanced medical technology.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/landing/img/doctor/doctor_2.png" alt="Dr. Emma Wilson - Neurologist">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/dr.emmawilson" target="_blank"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="https://twitter.com/dremmawilson" target="_blank"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="https://www.instagram.com/dr.emmawilson" target="_blank"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="skype:dr.emmawilson" target="_blank"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Dr. Emma Wilson</h3>
                            <p>Chief Neurologist</p>
                            <p>Specializes in brain and nervous system disorders. Expert in advanced neurological treatments and surgical procedures.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_blog_item">
                    <div class="single_blog_img">
                        <img src="/landing/img/doctor/doctor_3.png" alt="Dr. James Parker - Pediatrician">
                        <div class="social_icon">
                            <ul>
                                <li><a href="https://www.facebook.com/dr.jamesparker" target="_blank"> <i class="ti-facebook"></i> </a></li>
                                <li><a href="https://twitter.com/drjparker" target="_blank"> <i class="ti-twitter-alt"></i> </a></li>
                                <li><a href="https://www.instagram.com/dr.jamesparker" target="_blank"> <i class="ti-instagram"></i> </a></li>
                                <li><a href="skype:dr.jamesparker" target="_blank"> <i class="ti-skype"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single_text">
                        <div class="single_blog_text">
                            <h3>Dr. James Parker</h3>
                            <p>Chief Pediatrician</p>
                            <p>Dedicated to providing comprehensive care for children. Specializes in pediatric medicine and child development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>