<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{landing/fragments/head :: head}"></div>


<body>
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center">
            <div th:replace="~{landing/fragments/navbar :: navbar}"></div>
        </div>
    </div>
</header>

<!-- banner part start-->
<div th:replace="~{landing/fragments/banner :: banner}"></div>

<!-- about us part start-->
<div th:replace="~{landing/fragments/about-us :: aboutus}"></div>

<!-- feature_part start-->
<div th:replace="~{landing/fragments/feature :: feature}"></div>

<div th:replace="~{landing/fragments/department :: department}"></div>

<!-- footer part start-->
<div th:replace="~{landing/fragments/footer :: footer}"></div>

<!-- jquery plugins here-->
<div th:replace="~{landing/fragments/scripts :: scripts}"></div>

</body>

</html>